%div
  .page-title
    .title_left
      %h3 Appointments 

  .clearfix

  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_content
          %table.table
            %thead
              %tr
                %th #
                %th Booked object
                %th Vet
                %th Booked time
                %th Session start
                %th Status
                %th Actions
            %tbody
              =render @appointments
