.row
  = render partial: 'layouts/admin_panel/errors', locals: { object: @user }

  = render partial: 'main_info_form', locals: { f: f }
  = render partial: 'redeem_point_form', locals: { f: f }
  = render partial: 'admin_panel/locations/form', locals: { f: f }
