#Modal.modal.fade{ tabindex: "-1", role: "dialog", aria: { labelledby: "myModalLabel", hidden:"true" } }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close.autoclose{ type: "button", data: { dismiss: "modal" }, aria: { hidden: "true" } }
          ×
        %h4.modal-title#myModalLabel2
      .modal-body
