%div
  .page-title
    .title_left
      %h3 New day care centre 

  .clearfix
  
  = form_for @day_care_centre, url: admin_panel_day_care_centres_path,
  html: { multipart: true, method: :post, class: 'form-horizontal form-label-left with_location', autocomplete: 'off'} do |f|

    = render partial: 'form', locals: { f: f }
    
    = f.submit 'Create day care centre', class: 'btn btn-success pull-right'

:javascript
  init_map();
