%div
  .page-title
    .title_left
      %h3 Edit vet 

  .clearfix
  
  = form_for @vet, url: admin_panel_vet_path(@vet),
  html: { multipart: true, method: :put, class: 'form-horizontal form-label-left with_location', autocomplete: 'off'} do |f|

    = render partial: 'form', locals: { f: f }
    
    = f.submit 'Update vet', class: 'btn btn-success pull-right'

:javascript
  init_vet_map();
