%div
  .page-title
    .title_left
      %h3 Vets 
    .title_right
      = link_to 'Create vet', new_admin_panel_vet_path, class: 'btn btn-info btn-round pull-right'

  .clearfix

  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_content
          %table.table
            %thead
              %tr
                %th #
                %th Name
                %th Avatar
                %th Email
                %th Phone
                %th Experience
                %th Status
                %th Actions
            %tbody
              =render @vets
