
  <div class="banner" style=" background-image: url(<%= asset_path 'newlanding/banner.png' %>);">
    <h1>About </h1>
  </div>

  <div class="contentPage">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>About </h2>
          <p>With our busy lives and our love for having a furry little family member, comes a big responsibility, a lot of worrying and some major expenses. And we never had the luxury to
rely on strangers or get help when we needed it the most for our pets.</p>

          <p>Well with Ur Pets Life full list of services and excellent service and care for pets, we can give your our solemn promise that we will always be here for all our members, that we
are always willing to help in anything you require and most importantly that we will make sure we minimize your spends on all your shopping needs to reach to a point where
these savings will work as your pet insurance.</p>

          <p>Now of course every business owners will tell you the same beautiful words and gives you a lot of promises that you either think they are too good to be true or that you end up
extremely disappointed. So before you click on the “ DOWNLOAD “ icon, why don’t we show you what Ur Pets Life offers.</p>

          <ul>
            <li> A <span class="red-underline">shopping section</span> with more then 80 brands that you can choose from for your Dog, Cat, Bird, Rabbit, Guinea Pig and more. With our 5 fixed and ongoing loyalty
programs, you can end up <span class="red-underline">saving more then 25%</span>. To find out more please click on the “ Loyalty Programs “ icon in the shopping section</li>
            <li>All us dog and cat lovers, we follow a lot of pet social media groups and we end up seeing a lot of missing pets and heart broken parents. We couldn’t just stand and do
nothing and only rely on posting about our missing pet and hope that someone in our community is online and checking our post so they can help us, so we ended up
creating a Community <span class="red-underline">Geo-Fencing technology</span> where if God forbid we <span class="red-underline">lost our pet</span>, with just 1 click every pet lover in our community will be notified on the spot about our
missing pet and his details so that they can help us search for it instantly since we all know the first 10 to 20 min are crucial to finding our pet.</li>
            <li>If you are a <span class="red-underline">pet business owner</span> and would like to list your business and reach thousands of pet lovers free of charge, please contact us.</li>
            <li>An <span class="red-underline">adoption section</span> where every adoption agency out there can post their pets and reach out to thousands of Fur loving Humans to make finding a home for these lovely
fur babies easier</li>
            <li>Ur Pets Life connects pet owners to verified and trustworthy pet business around them such as boarding places, day care facilities, grooming salons, trainers and more</li>
            <li>Are you tired of keeping your pets passport on hand at all time, or searching for it when you need to find some information about them? Well Ur Pets Life has created the first fully operational <span class="red-underline">digital passport</span> for your passport where you can track their weight history, health history, vaccinations reminders, and pictures so whenever you need to access these information it is as simple as a click of a button</li>
            <li>With a lot of people asking for a <span class="red-underline">centralized microchip database</span> so we can reunite the found pets with their owners, we have created that for all pet lovers instead of jumping from clinic to clinic to find out if this pet is registered with them.</li>
            <li>We have created our own <span class="red-underline">messenger system</span> that connects you with pets establishments and our shopping facility since using your private whatsupp is not favourable for everyone.</li>
            <li>And of course we have created a community page</span> on the mobile application where all users can chat, help each other and share pictures and videos with each other and that can only be seen by registered pet members. You no longer have to go through all the post to find what interest you, you can select your favourite topic and see the thread about it.</li>
          </ol>
            <br/>
            <br/>
            <p>If you're still a bit sceptical, please read some of the reviews our lovely and long time members posted :</p>
            <br/>
            <p><span class="red-big">Wissam Azzi</span> “ One of the best Apps and services at the moment in Dubai. Ur Pets Life made it easier for us to shop, get info, book our boarding's and day care…Also they are always active on social media providing us with information. The most amazing part is that they send us freebies with every order which my pet loves. Keep it up guys ”</p>
            <p><span class="red-big">Haaannan</span>“ Incredible service and attentiveness, speedy delivery and wide variety of product selection. Highly recommend for all pet parents! “</p>
            <p><span class="red-big">Laura Clavero</span>“ The app it’s really helpful and convenient, the home delivery option and possibility of payment via Cc is a plus for us. Prices are also really competitive compare with other shops and regularly providing sales and discounts.
All employees amazing and helpful, always happy to help on any of the requests I have done. Max gets even more happy with his extra toys“</p>
            <p><span class="red-big">Venecia Dsilva</span>“ I am happy with the service I received from urpetslife last Saturday for the food delivery for my puppy.  It was done quite efficiently, and prince loved all the goodies that came along with it“</p>
            <p><span class="red-big">Tthavav</span>“ This app is really convenient. Everything gets delivered the same day, and they make sure to ring and confirm delivery. Also, love the little extra treats and toys that come with my order. Keep it up!“</p>
            <p><span class="red-big">Tugcepera</span>“ Gifts were amazing and service very quick “</p>
            <p><span class="red-big">Ramy Lahdo</span> “ The App has everything you need “</p>
            <p><span class="red-big">Khaled Sheta</span>“ The App is so helpful and easy to use “</p>
        </div>
      </div>
    </div>
  </div>
