<div class="banner" style=" background-image: url(<%= asset_path 'newlanding/banner.png' %>);">
<h1>Cancellation Policy</h1>
</div>

<div class="contentPage">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>DELIVERY/ SHIPPING POLICY </h2>
				<ul>
					<li>Shipping will be done by our drivers</li>
					<li>Delivery in Dubai & Sharjah is 7 days a week. Rest of the Emirates 2 days a week</li>
					<li>24 hours from ordering the product will be delivered in Dubai & Sharjsh. And twice a week will be delivered to other Emirates in the UAE</li>
					<li>Free delivery for over AED 100 purchase. AED 20 delivery charge will apply for orders less then AED 100</li>
				</ul>

				<h2>Refund Policy </h2>
				<p>Products are eligible for Refunds only if :</p>
				<ul>
					<li>The wrong product was sent</li>
					<li>The product is defective</li>
				</ul>
				<p>Refunds will be done only through the Original Mode Of Payment</p>
				<p>We accept returns within 24 hours of receipt, only if the products are damaged or wrong product. Please notify us and return the box in its original packaging. In such instances, we will endeavor to send you another or refund the payment.</p>
				<h2>Cancellation Policy</h2>
				<p>Customer can cancel their order 2 hours before delivery; refunds will be made back to the payment solution used initially by the customer. Please allow for up to 45days for the refund transfer to be completed.</p>
			</div>
		</div>
	</div>
</div>
