<div class="banner" style=" background-image: url(<%= asset_path 'newlanding/banner.png' %>);">
	<h1>Loyalty Program</h1>
</div>

<div class="contentPage">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Loyalty Program scheme: </h2>
				<ul>
					<li>Spend up to AED 500 per transaction and get 3% back.</li>
					<li>Spend between AED 500 and AED 1,000 and get 5% back</li>
					<li>Spend Between AED 1,000 and AED 2,000 and get 7.5% back</li>
					<li>Spend more than AED 2,000 per transaction and get 10% back</li>
					<li>With every order we send you free Toys, Treats, Accessories & Food</li>
					<li>At the end of every month we do an online raffle draw where 25 of our shopping members will be selected randomly and will each win AED 100 cash back to their account</li>
					<li>Receive Cash to your account for your pets birthday</li>
				</ul>
				<h2>On top of the above, we will still reward your yearly total spends as follows:</h2>
				<ul>
					<li>Spend more than AED 5,000 per year and get an additional 3% back to your account</li>
					<li>Spend more than AED 10,000 per year and get an additional 5% back to your account on top of the % you are getting back per transaction</li>
				</ul>

				<h2>T&C:</h2>

				<ul>
					<li>Points cannot be transferred between accounts</li>
					<li>If no orders have been made for more than 4 month, all previous points will expire</li>
					<li>Points cannot be earned on discounted items</li>
					<li>Total yearly spends will not include discounted items</li>
					<li>Points cannot be earned if users applies any discount code</li>
					<li>Free delivery for AED 100 plus per transaction. AED 20 as delivery charge will apply if transaction is less than AED 100</li>
				</ul>
			</div>
		</div>
	</div>
</div>
