<div class="banner" style=" background-image: url(<%= asset_path 'newlanding/banner.png' %>);">
  <h1>Loyalty Programs</h1>
</div>

<div class="contentPage">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Loyalty Programs</h2>
        <p><span class="red-underline">We don’t claim</span> to be the biggest, <span class="red-underline">nor do we claim</span> to have more brand then others but <span class="red-underline">we do claim and confirm</span> that by doing your pet shopping with us, you <span class="red-underline">save a minimum of 15% more then any other pet shop out there</span>. You can even have a chance to have all your <span class="red-underline">monthly shopping done free of charge</span>.</p>
        <p>Now the real question is, how can we save 25% on our shopping? Or how is possible to shop for free?
With our 4 fixed and ongoing loyalty program, the above has become a reality for the first time ever.</p>
        <h2>Loyalty Program1</h2>
        <ul>
          <li>Spend between AED 0 to 500 and get a <span class="red-big">WHOPPING 3%</span> cash back to your account</li>
          <li>Spend between AED 500 to 1,000 and get a <span class="red-big">CRAZY 5%</span> cash back to your account</li>
          <li>Spend AED 1,000 to 2,000 and get the <span class="red-big">UNBELIEVABLE 7.5%</span> cash back to your account </li>
          <li>And if you have a big pet family and have to spend more than 2,000 well you will get the <span class="red-big">JACKPOT of 10%</span> cash back</li>
        </ul>
        <h2>Loyalty Program2</h2>
        <p>Get rewarded again on your spends with our yearly loyalty program.</p>
        <ul>
          <li>Spend AED 5,000 to AED 10,000 between Jan 1st and Dec 31st and get an <span class="red-big">additional 3% back</span></li>
          <li>Spends AED 10,000 + between Jan 1st and Dec 31st and get an <span class="red-big">additional 5% back</span></li>
        </ul>
        <h2>Loyalty Program3</h2>
        <p>With every order we send you <span class="red-big">free Toys, Treats, Accessories & Food</span></p>
        <h2>Loyalty Program4</h2>
        <p>At the end of every month we do an online raffle draw where 25 of our shopping members will be selected randomly and will each win <span class="red-big">AED 100 cash back</span> to their account</p>
        <h2>Loyalty Program5</h2>
        <p>Receive Cash to your account for your <span class="red-big">pets birthday</span></p>
        <br/>
        <p>Terms & Conditions :</p>
        <ul>
          <li>Loyalty Program 1 & 2 are not valid on discounted items or discount codes</li>
          <li>Points can not be transferred between accounts</li>
          <li>If no orders have been made for a 6 month period, all previous points will expire</li>
          <li>Free delivery on any order above AED 100. AED 20 delivery charge will apply for orders less then AED 100.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
