= form_for @service_type, url: admin_panel_service_types_path,
  html: { method: :post, class: 'form-horizontal form-label-left', autocomplete: 'off', remote: true } do |f|

  = render partial: 'admin_panel/service_types/form', locals: { f: f }
