= form_for @next_appointment, url: admin_panel_appointment_next_appointment_path(@appointment),
  html: { method: :post, class: 'form-horizontal form-label-left', autocomplete: 'off', remote: true } do |f|

  = render partial: 'form', locals: { f: f }
