%div
  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          %h2 Grooming Centre schedule
          .clearfix
        .x_content
          #grooming_calendar{ 'grooming-centre-id' => @grooming_centre.id }

#CalenderModalDestroy.modal.fade{ tabindex: "-1", role: "dialog", aria: { labelledby: "myModalLabel", hidden:"true" } }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close.autoclose{ type: "button", data: { dismiss: "modal" }, aria: { hidden: "true" } }
          ×
        %h4.modal-title#myModalLabel2 Locked time for #{@grooming_centre.name}
      .modal-body
        #testmodal2{ style: "padding: 5px 20px;" }
          %p.time_slot
      .modal-footer
        %button.btn.btn-default.autoclose{ type: "button", data: { dismiss: "modal" } } Close
        %a.btn.btn-danger.destroy_link{ href: 'javascript:;' } Delete this locked time

#fc_destroy{ data: { toggle: "modal", target: "#CalenderModalDestroy" } }
