%div
  .page-title
    .title_left
      %h3 Grooming centres 
    .title_right
      = link_to 'Create grooming centre', new_admin_panel_grooming_centre_path, class: 'btn btn-info btn-round pull-right'

  .clearfix

  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_content
          %table.table
            %thead
              %tr
                %th #
                %th Name
                %th Picture
                %th Email
                %th Phone
                %th Status
                %th Actions
            %tbody
              =render @grooming_centres
