.row
  = render partial: 'layouts/admin_panel/errors', locals: { object: @order }

  = render partial: 'admin_panel/orders/main_form', locals: { f: f }
  = render partial: 'admin_panel/locations/form', locals: { f: f }
