- content_for :head do
  %meta{name: "turbolinks-cache-control", content:"no-cache"}
%div
  .page-title
    .title_left
      %h3 Cancelled Orders
  .clearfix

  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_content
          .form-horizontal.additional_parameters
            .form-group
              = label_tag :user_id, 'User Name', class: 'control-label col-md-2 col-sm-2 col-xs-6'
              .col-md-3.col-sm-3.col-xs-6
                = select_tag :user_id, options_from_collection_for_select((User.includes(:orders).where("orders.user_id = users.id").references(:orders).all), :id, :name),
                  class: 'form-control select2 additional_parameter', include_blank: true

          %table.table.datatable.cancelled_orders
            %thead
              %tr
                %th{style: 'width:30px'}  #
                %th User Name
                %th Location
                %th Notes
                %th SubTotal
                %th Net Payable
                %th Mode of Payment
                %th Payment Status
                %th Status
                %th Order Status
                %th Pre-order
                %th Delivered at
                %th Created at
                %th Actions
              %tr
                %th{style: 'width:30px'}
                  = text_field_tag :id, '', class: 'form-control', style: 'width:100%'
                %th
                %th
                %th
                %th
                %th
                %th
                %th
                %th
                  = select_tag :is_viewed, options_for_select([[], %w(New false), %w(Older true)]), class: 'form-control select2'
                %th
                %th
                %th
                %th
                %th
            %tbody
