%p Dear Admin,
%p Something went wrong with transaction №#{@order.TransactionId}.
%p You need to capture all sum and refund #{@refund}.
%p Transaction was assigned to order №#{@order.id}.
%p Thank you!
%p Ur Pets Life
