%p Dear Customer,
%p Your recurring order is scheduled to be automatically placed and delivered tomorrow. If you wish to cancel please go to My Account/My Order History/Recurring
%Thank You
%Ur Pets Life
