%p Dear Admin,
%p Catalog Item #{@iteminfo.name} is running on low/out of stock quantity i-e #{@iteminfo.quantity}
%p Please login to Admin Panel to update Available Stock.
%p Thank you
%p Ur Pets Life
