%p Dear Customer,
%p Your Recurring order for Item #{@orderitem.item.name} has been placed with following details:
%p Parent Order Id: #{@orderitem.order.id}
%p Quantity: #{@orderitem.Quantity}
%p Shipping Address: #{@userAddress}
%p Please login to your account to view your order status.
%Thank You
%Ur Pets Life
