%p Dear Admin,
%p Something went wrong when we try to #{@type} money from transaction №#{@order.TransactionId}.
%p Error: #{@error}.
%p Transaction was assigned to order №#{@order.id}.
%p For more info visit Telr.
%p Thank you!
%p Ur Pets Life
