= form_for @diagnosis, url: admin_panel_diagnosis_path(@diagnosis),
  html: { method: :put, class: 'form-horizontal form-label-left', autocomplete: 'off', remote: true } do |f|

  = render partial: 'form', locals: { f: f }
