.pages_contact_us {
  .contact_header {
    background: image_url('contact_us/shutterstock-1022198179@3x.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
  }

  .contact_header .container {
    flex-direction: column;
  }

  .contact_header span {
    font-size: 18px;
    font-weight: normal;
  }

  .container {
    margin-bottom: 100px;
  }

  .contact_us_item {
    background: white;
    border-radius: 10px;
    box-shadow: 0 1px 10px 0 rgba(209, 209, 209, 0.5);
    flex-grow: 1;
    width: 40%;
    overflow: hidden;
  }

  .contact_us_item:first-child {
    margin-right: 30px;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px 30px;
    background: #1c5879;
    margin-bottom: 20px;
  }


  .text_field {
    display: flex;
    justify-content: flex-start;
    padding: 0 30px;
    position: relative;
    margin-bottom: 15px;
    height: 44px;
  }

  .text_field * {
    width: 100%;
  }

  @keyframes unActiveText {
    from {
      top: 0;
      font-size: 10px;
    }
    to {
      top: 40%;
      font-size: 15px;
    }
  }

  .text_field .placeholder {
    position: absolute;
    top: 40%;
    color: #1c5879;
    font-size: 15px;
    font-family: "Lato";
    animation: unActiveText 0.2s ease;
  }

  @keyframes activeText {
    from {
      top: 40%;
      font-size: 15px;
    }
    to {
      top: 0;
      font-size: 10px;
    }
  }

  .text_field .active {
    top: 0;
    font-size: 10px;
    animation: activeText 0.2s ease
  }

  .text_field .text {
    position: absolute;
    bottom: 0;
    background: none;
    border: none;
    border-bottom: solid 1px #1c5879;
    height: 20px;
    width: 89%;
  }

  .message .placeholder {
    padding: 0 30px;
    color: #1c5879;
    font-size: 15px;
    font-family: "Lato";
  }

  .message textarea {
    width: 88%;
    height: 80px;
    resize: none;
    border: none;
    border-bottom: solid 1px #1c5879;
    margin-bottom: 30px;
    margin-left: 30px;
  }

  .submit {
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background: #f8951d;
    font-family: "Lato";
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 30px;
  }


  .contact {
    padding: 20px 30px;
    color: #575757;
    font-family: "Lato";
  }

  .contact > :last-child {
    padding-bottom: 0;
  }

  .contact *:first-child {
    font-weight: bold;
  }

  #map {
    width: 100%;
    height: 400px;
  }

  @media only screen and (max-device-width: 765px) {

    @keyframes activeText {
      from {
        top: 40%;
        font-size: 30pt;
      }
      to {
        top: 0;
        font-size: 24pt;
      }
    }
    @keyframes unActiveText {
      from {
        top: 0;
        font-size: 24pt;
      }
      to {
        top: 40%;
        font-size: 30pt;
      }
    }

    .contact_header {
      background: image_url('contact_us/contact_us.jpg');
      background-position: -290px 50px;
    }
    .contact_header span {
      font-size: 30px;
    }

    .contact_header .container {
      margin-bottom: 170px;
      width: 60%;
    }

    .contact_us_item {
      width: 100%;
      margin-bottom: 60px;
      border-radius: 30px;
    }
    .contact_us_item:first-child {
      margin-right: 0;
    }

    .title {
      font-size: 30pt;
      margin-bottom: 40px;
      padding: 50px;
      text-align: center;
    }
    .text_field {
      padding: 0 30pt;
      margin-bottom: 10pt;
      height: 80pt;
    }
    .text_field * {
      width: 100%;
    }
    .text_field .placeholder {
      font-size: 30pt;
      font-family: "Lato";
      top: 40%;
    }
    .text_field .text {
      height: 60px;
      font-size: 24pt;
    }
    .text_field .active {
      top: 0;
      font-size: 24pt;
    }

    .message .placeholder {
      padding: 0 45px;
      font-size: 28pt;
      margin-top: 100px;
    }
    .message textarea {
      width: 88%;
      height: 500px;
      margin-left: 50px;
      font-size: 17pt;
    }

    .submit {
      margin-left: 10%;
      width: 80%;
      height: 80pt;
      border-radius: 40pt;
      font-size: 30pt;
      margin-bottom: 80px;
    }
    #map {
      height: 1000px;
    }

    .contact {
      font-size: 19px;
      padding: 80px;
    }
    .contact:nth-child(2) {
      padding-bottom: 30px;
    }
    .contact:nth-child(3) {
      padding-top: 30px;
    }
  }

  @supports (-webkit-overflow-scrolling: touch) {
    .contact {
      font-size: 30pt;
    }
  }
}
