.bottom {
	padding: 30px 0;
	font-family: "Lato";
	color: white;
	background: image_url('bottom/pattern-1.svg'), linear-gradient(#0f505a, #23AEC2);
}

.bottom > :first-child {
	border-bottom: solid 1px white;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.bottom > :last-child {
	display: flex;
	align-items: center;
}

.bottom > :first-child > * {
	width: 30%;
	margin-right: 30px;
	flex-grow: 1;
}

.bottom > :last-child > * {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

hr { height: 100%; width: 1px; background: white; border: none; }

.bottom > :first-child > *:last-child { flex-grow: 2; width: 0; }

.bottom .logo { margin-bottom: 30px; }
.bottom p { font-size: 10pt; }
.bottom p span { font-weight: bold; }

.bottom .contact_us {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.bottom .contact_us .store { width: 150px; margin-bottom: 30px; }
.bottom .contact_us p { align-self: flex-start; margin-top: 50px; margin-bottom: 10px; margin-left: 25px}
.bottom .contact_us .links > * { margin-right: 20px; }
.bottom .contact_us .links > *:last-child { margin-right: 0; }
.bottom .contact_us .links a img { width: 40px; }

.bottom .privacy { display: flex; height: 20px; margin-left: 10px; font-size: 10pt; }
.bottom .privacy * { margin-right: 10px; }
.bottom .privacy a { text-decoration: none; color: white;}

.bottom .product { display: flex; }
.bottom .product img { width: 24px; }
.bottom .product * { display: flex; font-weight: bold;}
.bottom .product *:last-child { color: black }

.bottom .cash { display: flex; }
.bottom .cash img { margin-right: 20px }
.bottom .cash * { object-fit: contain; margin-right: 0px; height: 30px; }
.bottom .cash *:nth-child(2){ width: 20%; }
.bottom .cash *:last-child { margin-right: 0; }


@media only screen and (max-device-width: 765px) {

	.hide { display: none; }

	.bottom { padding: 30px 30px; }
	.bottom .b_width { padding: 0; }
	//.bottom p { font-size: 13pt; }
	.bottom > * { flex-direction: column; padding: 0; }
	.bottom > :first-child {  padding-bottom: 30px; }
	.bottom > :first-child > * { width: 100%; }
	.bottom > :first-child > *:first-child { display: flex; justify-content: center; }
	.bottom > :first-child > *:last-child { min-width: 100%; max-width: 100%; }

	.bottom > :last-child { flex-direction: column-reverse; padding: 0; width: 100%; }
	.bottom > :last-child * { margin: 10px 0 10px 0; }

	.bottom .links {
		display: flex;
		width: 100%;
		justify-content: center;
		border-top: solid 1px white;
		padding-top: 30px;
	}

	.bottom .privacy { font-size: 10px; }
	.bottom .privacy a { margin: 10px; }
	.bottom .contact_us .links a img { width: 60px; margin-right: 30px; }
	//.bottom .product p { font-size: 20pt; }

}

@supports (-webkit-overflow-scrolling: touch) {

	.bottom p { font-size: 24pt; }
    .bottom .logo { height: 100%; }

}