.pages_community {
  .mb1 {
    margin-bottom: 30px
  }

  .mb2 {
    margin-bottom: 60px
  }

  .community_header {
    background-image: url('community/shutterstock-565141900@3x.png');
    background-size: cover;
    background-position: top;
    margin-bottom: 40px;
  }

  .comment {
    display: block;
  }

  .comment .orange {
    color: #f8951d;
  }

  .comment .blue {
    color: #1c5879;
    font-weight: bold;
  }

  .gallery {
    position: relative;
    padding: 0;
  }

  .gallery button {
    z-index: 1;
    position: absolute;
    border: none;
    background: none;
    height: 90%;
  }

  .gallery .logo {
    position: absolute;
    z-index: 1;
    margin: 25px;
    width: 80px;
  }

  .gallery button img {
    width: 40px;
  }

  .gallery .left {
    left: 20px;
  }

  .gallery .right {
    right: 25px;
  }

  .corusel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    border-radius: 10px;
    height: 640px;
    box-shadow: 0 1px 10px 0 rgba(209, 209, 209, 0.5);
  }


  .cat_item {
    position: relative;
    overflow: hidden;
    min-width: 100%;
    margin-right: 30px;
  }

  .cat_item img {
    width: 100%;
  }

  .cat_item .description {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 62px;
    background: white;
  }

  .page {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .page .point {
    width: 18px;
    height: 18px;
    background: #d8d8d8;
    margin: 10px;
    border-radius: 10px;
    margin-top: 30px;
  }

  .page .active {
    background: #f8951d
  }

  @media only screen and (max-device-width: 765px) {

    .mb1 {
      margin-bottom: 40px;
      margin-top: 40px;
    }

    .community_header {
      margin-bottom: 40px;
      background-image: url('community/stray-cat.jpg');
      background-position: -60px 0px;
    }
    .community_header h1 {
      margin-left: 60px;
    }

    .comment {
      width: 80%;
      margin: auto;
      font-size: 10pt;
      text-align: justify;
    }

    .corusel {
      border-radius: 15px;
      height: 500px;
      box-shadow: 0 0 60px 0 rgb(209, 209, 209);
    }

    .cat_item img {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .cat_item .description {
      //font-size: 24pt;
      height: 90px;
      text-align: center;
    }
    .cat_item .description p {
      padding: 20px;
    }

    .gallery {
      width: 90%;
    }
    .gallery button {
      display: none;
    }

    .page {
      margin-top: 30px;
    }
    .page .point {
      width: 20px;
      height: 20px;
      margin: 7px;
      border-radius: 20px;
    }
  }

  @supports (-webkit-overflow-scrolling: touch) {

    .comment {
      font-size: 24pt;
    }

  }
}