.pages_about {
  .mb1 {
    margin-bottom: 40px;
  }

  .mb2 {
    margin-bottom: 60px;
  }

  .mb3 {
    margin-bottom: 120px;
  }

  .mobile {
    display: none;
  }

  #view_all {
    display: none;
  }

  .long_comment .more {
    display: none;
  }

  .long_comment .hide_more {
    display: none;
  }

  .about_header {
    background-size: cover;
    background-image: url('about/shutterstock-633334241@3x.jpg');
    background-position: top;
    margin-bottom: 40px;
  }

  .long_comment {
    text-align: justify;
    display: flex;
    flex-direction: column;
  }

  .offers_item {
    display: flex;
    border-radius: 10px;
    box-shadow: 0 1px 10px 0 rgba(209, 209, 209, 0.5);
    padding: 40px 30px;
    width: 40%;
    flex-grow: 1;
    margin: 15px;
  }

  .offers_item img {
    margin-right: 30px;
    object-fit: contain;
  }

  .offers_item h2 {
    color: #1c5879;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .offers_item p {
    color: #575757;
    font-family: "Lato";
    font-size: 13px;
    line-height: 1.5;
  }

  .review_item {
    display: flex;
    border-radius: 10px;
    padding: 30px;
    width: 44%;
    flex-grow: 1;
    margin-bottom: 30px;
  }

  .review_item .user_name {
    display: flex;
    height: 30px;
  }

  .review_item .content {
    flex-grow: 1;
  }

  .review_item .user_name h2 {
    flex-grow: 1;
  }

  .review_item .rating {
    margin-right: 80px;
  }

  .review_item .avatar {
    margin-right: 30px;
    border-radius: 50px;
    width: 100px;
    height: 100px;
  }

  .review_item h2 {
    color: #575757;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .review_item p {
    color: #575757;
    font-family: "Lato";
    font-size: 13px;
  }

  .mobile_view {
    display: none
  }

  @media only screen and (max-device-width: 765px) {

    .about_header {
      background: url(asset_path('/about/assets/about.jpg')) center;
      background-size: 170%;
    }
    .about_header h1 {
      width: 50%;
      margin-left: 60px;
      font-size: 34pt;
    }

    .desktop {
      display: none;
    }
    .mobile {
      display: block;
    }

    .long_comment {
      width: 80%;
      margin: auto;
      margin-top: 100px;
      margin-bottom: 100px;
    }
    .long_comment .hide {
      display: none;
    }
    .long_comment .more {
      display: block;
      color: #f8951d;
    }
    .long_comment .hide_more {
      color: #f8951d;
    }

    .close {
      height: 1520px;
      overflow: hidden;
      margin-top: 100px;
    }

    .offers_item {
      width: 100%;
      flex-direction: column;
      text-align: center;
      border-radius: 30px;
      box-shadow: 0 1px 30px 0 rgba(209, 209, 209, 0.5);
    }
    .offers_item img {
      width: 30%;
      margin: auto;
    }
    .offers_item h2 {
      font-size: 30pt;
      margin: 50px;
    }
    .offers_item p {
      font-size: 24pt;
      margin-bottom: 30px;
      line-height: 1.5;
      width: 90%;
      margin: auto;
    }

    .desktop_view {
      display: none;
    }
    .mobile_view {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: hidden;
    }

    .r_item {
      margin: 80px 0;
      border-radius: 30px;
      box-shadow: 0 1px 10px 0 rgba(177, 177, 177, 0.5);
      background-color: white;
      padding: 50px;
      margin-right: 40px;
      min-width: 85%;
    }

    .r_item .item_header {
      display: flex;
    }
    .r_item .item_header .avatar {
      width: 200px;
      margin-right: 80px;
    }
    .r_item .item_header .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #575757;
    }
    .r_item .item_header .title h2 {
      font-size: 34pt;
      margin-bottom: 20px;
    }
    .r_item .item_header .title .rating * {
      width: 50px;
    }
    .r_item p {
      font-size: 13pt;
      line-height: 1.5;
      color: #575757;
      margin-top: 30px;
    }

    #view_all {
      color: #f8951d;
      display: flex;
      margin: auto;
      font-size: 28pt;
      padding: 24px 180px;
      border: none;
      border: solid 3px #f8951d;
      border-radius: 60px;
      background: none;
      margin-bottom: 200px;
      margin-top: 30px;
    }

  }

  @supports (-webkit-overflow-scrolling: touch) {

    .long_comment {
      font-size: 25pt;
    }

    .r_item .item_header .avatar {
      width: 200px;
      height: 200px;
    }
    .r_item p {
      font-size: 24pt;
    }

  }
}