.pages_sale {
    body {
        background: #f9f9f9;
    }

    .sale_header {
        background: image_url('sale/shutterstock-759553846@3x.png');
        background-size: cover;
        background-position: top;
        margin-bottom: 40px;
    }

    .sale_filter {
        margin-bottom: 30px;
    }

    .sale_filter .buttons button {
        color: #575757;
        border: solid 1px #575757;
        font-size: 14px;
        font-family: "lato";
        font-weight: bold;
        padding: 10px 30px;
        border-radius: 30px;
        margin-left: 14px;
        transition: ease 0.2s;
        background: none;
    }

    .sale_filter .buttons .active {
        color: white;
        border: solid 1px rgba(0, 0, 0, 0);
        background: #f8951d
    }

    .sale_filter button:hover {
        color: white;
        border: solid 1px rgba(0, 0, 0, 0);
        background: #f8951d
    }

    .sale_filter .list {
        flex-grow: 1;
        align-items: center;
        display: flex;
    }

    .sale_filter .buttons_list {
        display: none;
    }

    .sale_filter .list:last-child {
        justify-content: flex-end;
    }

    .sale_filter .list > * {
        margin-right: 20px;
    }

    .sale_filter .list .select {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        border: solid 1px #cccccc;
        border-radius: 20px;
        padding: 0 20px;
        background: white;
    }

    .sale_filter .list .select p {
        color: #575757;
    }

    .sale_filter .list .select select {
        font-family: "Lato";
        border: none;
        background: none;
        font-size: 15px;
        color: #373a3c;
    }

    .sale_filter .list .select select:focus {
        border: none;
    }

    .sale_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: white;
        position: relative;
        margin: 15px;
        width: 22%;
        border-radius: 10px;
        border: solid 1px #dadada;
        overflow: hidden;
    }

    .sale_item > * {
        margin-bottom: 10px;
    }

    .sale_item > *:last-child {
        margin-bottom: 0
    }

    .sale_item .sale {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Lato";
        font-weight: bold;
        position: absolute;
        background: #f81d1d;
        top: 12px;
        left: 12px;
        width: 60px;
        height: 60px;
        border-radius: 30px;
    }

    .sale_item .sale .percent {
        font-size: 22px;
    }

    .sale_item .sale .off {
        font-size: 16px;
    }

    .sale_item img {
        width: 100%;
        height: 200px;
        object-fit: contain;
    }

    .sale_item .weight {
        color: #575757;
        font-family: "Lato";
        font-weight: bold;
        padding: 8px 10px;
        border: solid 1px #dadada;
        border-radius: 20px;
    }

    .sale_item .name {
        color: #575757;
        font-family: "Lato";
        font-size: 15px;
        padding: 0 15px;
        height: 30px;
    }

    .sale_item .old_price {
        color: #b4b4b4;
        font-family: "Lato";
        font-weight: bold;
        font-size: 17px;
        text-decoration: line-through;
    }

    .sale_item .new_price {
        color: white;
        font-family: "Lato";
        font-weight: bold;
        background: #1c5879;
        font-size: 22px;
        width: 100%;
        padding: 10px 0;
    }

    nav {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 50px;
        color: grey;
        font-family: "Lato";
        font-size: 16px;
    }

    nav li {
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-left: solid 2px #eceeef;
        border-top: solid 2px #eceeef;
        border-bottom: solid 2px #eceeef;
        border-right: solid 2px #eceeef;
        color: grey;
        font-family: "Lato";
        font-size: 16px;
    }

    nav :hover {
        z-index: 5;
        color: white;
        border-color: #f8951d;
    }

    nav *:last-child {
        display: flex;
        color: grey;
        float: left;
        text-decoration: none;
    }

    nav .active {
        z-index: 5;
        border-color: #f8951d;
        background: #f8951d;

        a {
          color: white;
        }
    }

    @media screen and (max-width: 1200px) {
      .sale_item {
        margin: 12px;
      }
    }

    @media screen and (max-width: 1000px) {
        .sale_item {
            width: 30%;
          margin: 10px;
        }

      .sale_filter .buttons {
        display: none;
      }

      .sale_filter .buttons_list {
        display: block;
      }

      .sale_filter .list .select {
        height: 40px;
        border-radius: 50px;
        margin: 0;
      }
    }

    @media only screen and (max-device-width: 765px) {

        .sale_header {
            background: image_url('sale/sale.jpg');
            background-position: right;
        }

        .sale_header h1 {
            margin-left: 60px;
        }

        .sale_item {
            max-width: 47%;
            min-width: 46%;
            border-radius: 15px;
          margin: 4px;
        }

      .sale_item img {
        height: 140px;
      }

        .sale_item .sale {
            top: 10px;
            left: 10px;
            width: 40px;
            height: 40px;
            border-radius: 30px;
        }

        .sale_item .sale .percent {
            font-size: 10pt;
        }

        .sale_item .sale .off {
            font-size: 8pt;
        }

        .sale_item .weight {
            font-size: 7pt;
            width: 80%;
            padding: 10px 5px;
            border-radius: 15pt;
        }

        .sale_item .name {
            font-size: 10px;
            //margin: 40px 0;
        }

        .sale_item .old_price {
            font-size: 14px;
            //margin-bottom: 40px;
        }

        .sale_item .new_price {
            font-size: 12pt;
            padding: 10px 0;
        }

        .sale_filter .buttons {
            display: none;
        }

        .sale_filter .list p {
            display: none;
        }

        .sale_filter .buttons_list {
            display: block;
        }

      .sale_filter .list .select {
            height: 40px;
            border-radius: 50px;
            padding: 0;
            margin: 0;
        }

        .sale_filter .list .select select {
            //font-size: 25pt;
        }

        .sale_pagination .container {
            //font-size: 24pt;
        }

        nav span {
            width: 80px;
            height: 80px
        }

      nav  {
        padding: 0;
      }

      nav span {
       width: 30px;
        height: 30px;
      }

    }
}