/*== GENERAL CSS ==*/ *, a, img, ul, ol { list-style: none; padding: 0px; margin: 0px; outline: none; border: none; } *:focus, a:focus { border: none; outline: none; } body, a, input, #products ul li { text-decoration: none; -webkit-transition: all 200ms linear; -moz-transition: all 200ms linear; -ms-transition: all 200ms linear; -o-transition: all 200ms linear; transition: all 200ms linear; } textarea { resize: none; overflow: hidden;    font-family: 'Poppins', sans-serif;} input, select { border: none; outline: none; font-family: 'Source Sans Pro', sans-serif; } input[type=submit], input[type=button], input[type=reset] { background: #ab3822; color: #eecb56; text-transform: uppercase; font-size: 15px; } input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover { background: #eecb56; color: #ab3822; } a:focus, a:hover { color: #fff; text-decoration: none; } .button { color: #fff; font-size: 14px; background: #3dabff; text-transform: uppercase; min-width: 260px; border-radius: 5px; display: inline-block; padding: 16px; font-weight: 400; text-align: center; } .button:hover { background: #444444; } /* General CLASSES */ body {font-family: 'Poppins', sans-serif;background-repeat: no-repeat;width: 100%;background-size: cover;background-position: 0% 1%;} h1, h2, h3, h4, h5, h6 { font-family: 'Poppins', sans-serif; } .container { max-width: 1170px; margin: 0 auto; position: relative; } .floatLeft { float: left!important; } .floatRight { float: right!important; } .alignLeft { text-align: left!important } .alignRight { text-align: right!important; } .alignCenter { text-align: center!important; } .noMargin { margin: 0px !important; } .txt-center { text-align: center !important; } .dispalyInline { display: inline; } #jqcheck { background: #fff9d7; text-align: center; color: #333; padding: 10px 0px; font-size: 13px; font-weight: bold; width: 100%; font-family: 'Source Sans Pro', sans-serif; } #jqcheck img { margin: 0px 5px -3px; } ::selection { background: #ad1e23; color: #fff; text-shadow: none; } ::-webkit-scrollbar { width:5px; height:10px; } ::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment { display:none; } ::-webkit-scrollbar-track-piece { background-color:#ecedf1; -webkit-border-radius:0px; border-left:1px solid #888; } ::-webkit-scrollbar-thumb:vertical { -webkit-border-radius:0px; background:#0c2857; }


.fix {overflow: hidden;position: fixed;width: 100%;}



header {position: absolute;z-index: 9;margin: 40px 0 0;width: 100%;}
header .logo {float: left;}
header .custbtn {background: #EB8E30;height: 55px;width: 250px;z-index: 2;border-radius: 20px;color: #fff;float: right;font-size: 18px;text-align: center; padding-top: 4px;}
header .custbtn span {font-size: 14px;display: block;}
.banner {height: 100vh;width: 100%;background-size: cover;background-repeat: no-repeat;position: relative;top: 0;padding: 10% 0 0;overflow: hidden;background-attachment: fixed;}
.banner article {padding: 20% 0 0;}
.banner article h2 {font-size: 40px;color: #fff;line-height: 50px;}
.banner article p {color: #fff;font-size: 24px;line-height: 30px;margin: 30px 0 41px;}
.banner article a {float: left;margin: 0 29px 0 0;}
.banner article a img {width: 220px;float: left;border-radius: 15px;}
.banner img  {width: 100%;float: right;}

.whatsknow {text-align: center;padding: 40px 0;}
.whatsknow h2 {font-size: 36px;color: #1C5879;}
.whatsknow .col-md-4.col-sm-4 {display: inline-block;text-align: center;float: none;vertical-align: top;}
.whatsknow p {text-align: center;color: #536873;margin-top: 30px;font-size: 14px; line-height: 24px;}
.whatsknow .bx {min-height: 350px;margin: 0 0 0;}
.whatsknow .bx figure {height: 70px;}
.whatsknow .bx img {width: 25%;}
.whatsknow .bx h3 {color: #1C5879;text-align: center;margin-top: 44px; font-size:24px}
.whatsknow .bx p {}
.whatsknow h5 {color: #F8951D;font-size: 24px;margin-top: 50px;}
.marginTop {margin-top: 40px;}


.supersimple {background-repeat: no-repeat;background-size: cover;width: 100%;background-position: top center;height: 880px;margin: 100px 0 0;background-attachment: fixed;}
.supersimple img {margin: -80px 0 0;}
.supersimple article {padding: 48% 0 0;}
.supersimple article h2 {font-size: 30px;color: #fff;}
.supersimple article p {margin-top: 20px;font-size: 14px;color: white;margin-right: 4px; line-height: 25px;}


.Easyaccess {text-align: center;padding: 70px 0 0;height: 860px;overflow: hidden;}
.Easyaccess h2{font-size: 30px; color: #1C5879;}
.Easyaccess p {font-size: 14px;margin-top: 20px;color: #536873;text-align: center;}
.Easyaccess img {margin-top: 70px;}

.getintouch {text-align: center;margin: 39px 0 0;}
.getintouch h2 {color: #1C5879;font-size: 36px;}
.getintouch p {font-size: 14px;margin-top: 20px;color: #536873;text-align: center;}
.getintouch .form {width: 70%;margin: 20px auto 0;}
.getintouch .form input {width: 100%;height: 50px;border-bottom: solid 1px #A6BECB;font-size: 16px;}
.getintouch .form textarea {width: 100%;min-height: 50px;height: auto;border-bottom: solid 1px #A6BECB;font-size: 16px;}
.getintouch .form input[type=submit] {background: #EB8E30;color: white;border-radius: 50px;height: 50px;width: 250px;border: 0px;}

.proSec {margin: 50px 0 0;}
.proSec .product {width: 24%;display: inline-block;background: #e8e8e8;padding: 20px;vertical-align: top;min-height: 150px;margin-right: 9px;}
.proSec .product figure {width: 100%;min-height: 110px;background-position: center top;background-size: contain;background-repeat: no-repeat;}
.proSec .product article {text-align: center;margin: 30px 0 0;}
.proSec .product article h3 {font-size: 14px;font-weight: bold;color: #000;margin: 0 0 20px;}
.proSec .product article h3 span {font-weight: 400;}
.proSec .product article p {white-space: pre;overflow: hidden;text-overflow: ellipsis;margin: 0 0 21px;}
.proSec .product article h5 {color: #1e7a97;font-weight: 700;font-size: 18px;}


.proSec .slick-prev {color: #f13734;z-index: 999;left: -60px;width: 50px;height: 50px;border-radius: 0;border: 0;text-align: center;opacity: 1;background: #eb8e30;}
.proSec .slick-next {color: #f13734;z-index: 999;right: -53px;width: 50px;height: 50px;border-radius: 0;border: 0;text-align: center;opacity: 1;background: #eb8e30;}
.proSec .slick-prev:before {content: "<";opacity: 1;color: #fff;text-align: center;margin: 0 auto;display: table;width: initial;height: initial;font-size: 28px;font-family: monospace;font-weight: 700;}
.proSec .slick-next:before {content: ">";opacity: 1;color: #fff;text-align: center;margin: 0 auto;display: table;width: initial;height: initial;font-size: 28px;font-family: monospace;font-weight: 700;}
.proSec .slick-next:hover, .proSec .slick-prev:hover { opacity: 1; }


.thrdSec {background: #f8951d;padding: 50px 0;}
.thrdSec h2 {font-size: 28px;color: #005c84;margin: 40px 0;}
.thrdSec ul {}
.thrdSec ul li {font-size: 12px;display: inline-block;color: #313131;padding: 10px 0px; width: 100%;}
.thrdSec ul li:before {content: "\f054";font-family: FontAwesome;display: inline-block;width: 22px;vertical-align: top;     padding: 3px 0 0 5px;}
.thrdSec ul li span {width: 90%;display: inline-block; font-size: 16px;}
.thrdSec img {margin: 50px 0 0;}

.forth {text-align: center;margin: 10px 0;}
.forth figure {width: 100%;height: 356px;position: relative;background-size: cover;background-repeat: no-repeat;background-position: 50% 50%;}
.forth figure figcaption {position: absolute;bottom: 30px;width: 100%;padding: 10px 20px;background: #f8951d78;}
.forth figure figcaption p {color: #ffffff;font-size: 24px;font-weight: bold;}

.cta {text-align: left;margin: 10px 0;}
.cta figure {width: 97%;height: 356px;position: relative;background-size: cover;background-repeat: no-repeat;background-position: 50% 50%;margin: 0 auto;}
.cta figure figcaption {position: absolute;top: 120px;width: 30%;right: 0; padding-right: 50px;}
.cta figure figcaption p {color: #ffffff;font-size: 15px;font-weight: 400;line-height: 30px;}
.cta figure figcaption p span {color: #f8951d;}

.cta2 {}
.cta2 article {background: #eb8e30;}
.cta2 article h2 {color: #fff;display: inline-block;padding: 0px 40px;width: 23%;font-size: 20px;vertical-align: top;border-right: solid 1px #ffffff4d;margin: 40px 0px; line-height: 32px;}
.cta2 article h2 strong {font-size: 20px;display: block;}
.cta2 article h2:nth-child(3) {width: 52%;border-right: 0px;}

footer {height: 510px;background-repeat: no-repeat;width: 100%;background-size: cover;margin: 50px 0 0;text-align: left;padding: 70px 0 50px;}
footer ul {margin: 0px 0px 40px;}
footer ul li {display: inline-block;margin: 0 10px 0 0;}
footer ul li a {}
footer ul li a img {width: 53px;}
footer ul.links {margin: 0px 0;display: block;}
footer ul.links li {color: #ffffff;font-size: 12px;margin: 0;}
footer ul.links li a {color: #ffffff;font-size: 12px;padding: 0 6px 0 0;}
footer p {color: #ffffff;font-size: 12px;margin: 0 0 20px;}
footer .logo {    margin-bottom: 30px;}
.cardBr {text-align: center;margin-top: 30px;}

.inner-pages {}
.inner-pages .banner {height: 100vh;margin-bottom: 20px;position: relative;}
.inner-pages .banner h1 {font-size: 40px;color: #fff;line-height: 50px;text-transform: uppercase;position: absolute;display: inline-block;left: 50%;top: 50%;transform: translateX(-50%) translateY(-50%);}
.contentPage {}
.contentPage h2 {font-size: 24px;color: #1C5879;margin: 40px 0 30px;}
.contentPage p {color: #536873;font-size: 14px;line-height: 24px;margin-bottom: 20px;}
.contentPage ul {margin: 30px 10px;padding: 0 0px;}
.contentPage ul li {color: #536873;font-size: 14px;line-height: 24px;}
.contentPage p a:hover {color: #536873;}
.contentPage ul li:before {content: "\f054";font-family: FontAwesome;display: inline-block;width: 22px;padding: 0px 0 0 5px;font-size: 10px;vertical-align: top;}
.contentPage ol {    margin: 30px 0px 30px 12px;padding: 0 0px;}
.contentPage ol li {color: #536873;font-size: 14px;line-height: 24px;list-style: decimal-leading-zero;margin: 0 0 30px;}



@media (min-width:768px) and (max-width:3000px) {
	
}






/* ----- v CAN BE DELETED v ----- */
@media (min-width:1366px) and (max-width:1440px) {

}



    
@media (min-width:768px) and (max-width:1024px) {
   
 	.forth figure figcaption p {   font-size: 15px;}
 	.forth figure {height: 196px;}
	.cta figure {height: 200px;}
	.cta figure figcaption p {font-size: 16px;line-height: 20px;}
	.cta figure figcaption {top: 40px;width: 32%;}
	.cta2 article h2 {padding: 0px 40px;font-size: 16px;margin: 20px 0px;}
	.cta2 article h2 strong {font-size: 14px;}
	.getintouch h2 {font-size: 24px;}
	.getintouch p {font-size: 14px;}
	.getintouch .form { width: 90%;  margin: 20px auto 0;}
	footer ul.links li a { font-size: 18px;}
	footer p {font-size: 18px;}
	.thrdSec img {display: none;}
	.thrdSec h2 {font-size: 24px;}
	.thrdSec ul li { width: 100%;}
	.thrdSec { padding: 0px 0 30px;}
	.Easyaccess img {margin-top: 30px;width: 100%;}
	.Easyaccess h2 {font-size: 24px;}
	.supersimple img {display: none;}
	.supersimple {height: 380px;    margin: 0;}
	.supersimple article {padding: 18% 0 0;}
	.whatsknow h5 {font-size: 18px;margin-top: 0;}
	.whatsknow .bx p {font-size: 14px;}
	.whatsknow .bx h3 { font-size: 18px;}
	.whatsknow p { font-size: 14px;}
	.whatsknow h2 {font-size: 24px;}
	.banner article h2 {font-size: 24px;line-height: 30px;}
	.banner article p { font-size: 16px;line-height: 25px;margin: 20px 0 41px;}
	.banner article a {float: left;margin: 0 9px 0 0;width: 44%;}
	.banner article a img {width: 100%;margin-top: 0;}
	.banner {height: 480px;}
	.banner img {margin-top: 50px;}
	.whatsknow .bx figure {height: 40px;}
	footer {height: auto;}
	

	
	}

	
	
	


@media only screen and (device-width:1024px) {

	.thrdSec img {display: block;width: 100%;}
	

	
}
    
    
@media only screen and (device-width: 812px) {
	
	footer p {font-size: 12px;}
	footer ul.links li a {font-size: 12px;}
    
}




@media screen and (max-width: 767px) { 
	.proSec .slick-prev {left: 0;}
	.proSec .slick-next {right: 0;}
	footer {height: auto;padding: 30px 0 30px;}
	header .logo {float: inherit;text-align: center;}
	header .custbtn {float: inherit;text-align: center;display: table; margin:30px auto 0;}
	.banner {padding: 150px 0 0;height: 530px;}
	.banner article h2 {font-size: 20px;line-height: initial;text-align: center;}
	.banner article p {font-size: 16px;line-height: 27px;margin: 20px 0 20px;text-align: center;}
	.banner article a {margin: 0 auto 0;width: 40%;display: inline-block;float: none;}
	.banner article a img {width: 100%;display: inline-block; margin: 0 0 40px;}
	.banner img {display: none;}
	.Easyaccess h2 {font-size: 24px;}
	.whatsknow h5 {margin-top: 20px;font-size: 18px;}
	.supersimple {height: auto;}
	.thrdSec img {width: 100%;}
	.supersimple img { width: 100%;}
	footer img {width: 90%;}
	.Easyaccess img {width: 100%;margin-top: 30px;}
	.supersimple article {padding: 8% 0 30px;}
	.Easyaccess p {font-size: 14px;}
	.Easyaccess {padding: 40px 20px 0;height: auto;}
	.whatsknow {padding: 40px 20px;}
	.whatsknow h2 {font-size: 24px;}
	.whatsknow p { font-size: 14px;}
	.whatsknow .bx img { margin: 0 auto;}
	.whatsknow .bx {min-height: auto;}
	.thrdSec h2 {font-size: 24px;}
	.thrdSec ul li {font-size: 14px;}
	.thrdSec {padding: 0;margin: 20px 0 0;}
	.cta {display: none;}
	.cta2 article h2 {padding: 0 0 20px;width: 100%;font-size: 19px;border-bottom: solid 1px #ffffff4d;border-right: 0px;margin: 10px 0px;text-align: center;}
	.cta2 article h2:nth-child(3) {width: 100%;border-bottom: 0px;}
	.cta2 article h2 strong {font-size: 16px;}
	.getintouch h2 {font-size: 24px;}
	.getintouch p {font-size: 14px;}
	.getintouch .form {width: 100%; margin: 10px auto 0;}
	footer ul.links li a { font-size: 14px;}
	footer p {font-size: 14px;}
	footer ul {margin: 0px 0px 30px;}
	footer ul.links {margin: 0px 0px;}
	footer img.logo {width: 200px;margin-left: 16px;}
	footer img.card {display: none;}
	.contentPage ol li {font-size: 12px;}
	.contentPage ul li {font-size: 12px;}
	.contentPage ol {margin: 30px 18px 30px;}
	.contentPage p {font-size: 12px;line-height: inherit;}
	.banner article {padding: 30% 0 0;text-align: center;}
	
	

	
}



@media (min-width:568px) and (max-width:767px) {
	.whatsknow .bx figure {height: 130px;}
	
}



















