%div
  .page-title
    .title_left
      %h3 Edit pet 

  .clearfix
  
  = form_for @pet, url: admin_panel_pet_path(@pet),
  html: { multipart: true, method: :put, class: 'form-horizontal form-label-left', autocomplete: 'off'} do |f|

    = render partial: 'form', locals: { f: f }
    
    = f.submit 'Update pet', class: 'btn btn-success pull-right'

:javascript
  init_map();
