.row
  .col-md-12.col-sm-12.col-xs-12
    %table.table
      %thead
        %tr
          %th #
          %th Name
          %th Picture
          %th Done at
      %tbody
        = render @vaccinations
